.contenedor-app{

    background-image: url('../../../assets/images/fondo.jpg');
    background-size: cover;

    .header-cont{
        background-color: #439A97;
    }
    
    .footer-cont{
        background-color: #439A97;
    }

}